################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CapstoneII-InfoScraps/.vs/CapstoneII-InfoScraps
/.vs
bin/
obj/
.idea/