@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a class="nav-link text-dark btn btn-primary" style="margin: auto auto;width: 20%" asp-controller="Login" asp-action="Index">Login</a>
    <br>
    <a class="nav-link text-dark btn btn-secondary" style="margin: auto auto;width: 20%" asp-controller="Registration" asp-action="Index">Register</a>
</div>
