@model CapstoneII_InfoScraps.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<form asp-controller="Login" asp-action="Login" method="post">
    <fieldset>
        <div>
            <label for="Username">Username: </label>
            <input type="text" asp-for="Username" class="form-control"/>
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div>
            <label for="Password">Password: </label>
            <input type="password" asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </fieldset>
    @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"]?.ToString()))
    {
    <div class="text-danger">@ViewData["ErrorMessage"]</div>
    }
    <button type="submit" class="btn btn-primary">Login</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}